<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FitWear</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
  <header th:replace="fragments/navbar :: navbar"></header>
  <main>
    <div th:replace="fragments/inicio :: inicio"></div>
    <div th:replace="fragments/quienes :: quienes"></div>
    <div th:replace="fragments/productos :: productos"></div>
    <div th:replace="fragments/contacto :: contacto"></div>
  </main>
  <footer th:replace="fragments/footer :: footer"></footer>
  <script src="/js/main.js"></script>
</body>
</html>
