<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FitWear</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

  <!-- Navbar -->
  <header th:replace="fragments/navbar :: navbar"></header>

  <!-- Cuerpo en una sola página con scroll vertical -->
  <main>
    <div th:replace="fragments/inicio :: inicio"></div>
    <div th:replace="fragments/productos :: productos"></div>
    <div th:replace="fragments/quienes :: quienes"></div>
    <div th:replace="fragments/contacto :: contacto"></div>
  </main>

  <!-- Footer -->
  <footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
