<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8">
  <title>Fitwear | Productos y servicios</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header th:replace="~{fragments/navbar :: navbar}"></header>

<h2 class="title">Comodidad, estilo y rendimiento en cada movimiento</h2>

<section id="productos">
  <div th:each="producto : ${productos}" class="card">
    <img th:src="@{${producto.imagen}}" th:alt="${producto.nombre}">
    <h3 th:text="${producto.nombre}"></h3>
    <p th:text="${producto.descripcion}"></p>
  </div>
</section>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
